# Module41-50
## 20200901-20200905

1. pandas
1. pandas_summary
1. pandasql
1. mysqlclient
1. psycopg
1. sqlalchemy
1. python-pptx
1. xlrd/xlwt
1. Statsmodels
1. xlwings

In [1]:
from IPython.display import IFrame

---
## 5.41 pandas

- 基本操作
- 切片

In [18]:
IFrame('http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf', width=1000, height=800)

In [2]:
import numpy as np
import pandas as pd



s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
print(df2)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### 基本操作

In [3]:
## 基本操作
print(df2.head())
print(df2.tail())
print(df2.index)
print(df2.columns)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
Int64Index([0, 1, 2, 3], dtype='int64')
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [4]:

print(df2.to_numpy())

print(df2.describe())
print(df2.sort_values(by='B'))

[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]
         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### 切片与选择

In [5]:

print(df2['A'])
print(df2.A)
print(df2[0:3])
print(df2.loc[:,['A','B']])

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64
0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02
2  1.0 2013-01-02
3  1.0 2013-01-02


print(df2[df2.E=='test'])
print(df2[df2['E'].isin(['train', 'test'])])

s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
df2['G'] = s1
df2

### 缺失值

In [9]:
if False:
	df1.dropna(how='any')
	df1.fillna(value=5)
	pd.isna(df1)

### join

In [10]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### append

In [13]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
s = df[0:3]
df.append(s)

          A         B         C         D
0 -0.011934 -0.849701 -0.175079 -0.462172
1  1.603784 -0.051485  0.697767 -0.943569
2  0.496982 -0.419107 -0.199525 -0.031473
3 -1.071667 -0.082619 -0.308060  0.087008
4  0.971755  1.490457 -1.557889  1.211588
5  1.958111 -1.561594 -1.077571 -0.178463
6  1.129619 -0.427386  0.537445 -0.069675
7 -0.386122 -0.089408 -0.184804  0.731226
0 -0.011934 -0.849701 -0.175079 -0.462172
1  1.603784 -0.051485  0.697767 -0.943569
2  0.496982 -0.419107 -0.199525 -0.031473

### group

In [14]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
				   
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  1.676560 -0.440395
      B  1.034556  0.010806
      C  0.195555  1.063140
three A -0.228574       NaN
      B       NaN -0.362834
      C  0.900822       NaN
two   A       NaN -1.189257
      B  1.031627       NaN
      C       NaN  0.864615

### 数据输入/输出

In [ ]:
df.to_csv('foo.csv')
pd.read_csv('foo.csv')

df.to_excel('foo.xlsx', sheet_name='Sheet1')
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

### R Vs Py


R | Pandas
---|---
dim(df) | df.shape
head(df) | df.head()
slice(df, 1:10) | df.iloc[:9]
filter(df, col1 == 1, col2 == 1) | df.query('col1 == 1 & col2 == 1')
df[df$col1 == 1 & df$col2 == 1,] | df[(df.col1 == 1) & (df.col2 == 1)]
select(df, col1, col2) | df[['col1', 'col2']]
select(df, col1:col3) | df.loc[:, 'col1':'col3']
select(df, -(col1:col3)) | df.drop(cols_to_drop, axis=1)但是看[[1]](#select-range)
distinct(select(df, col1)) | df[['col1']].drop_duplicates()
distinct(select(df, col1, col2)) | df[['col1', 'col2']].drop_duplicates()
sample_n(df, 10) | df.sample(n=10)
sample_frac(df, 0.01) | df.sample(frac=0.01)

---
## 5.42 pandas_summary

In [20]:

from pandas_summary import DataFrameSummary
import seaborn as sns
iris = sns.load_dataset("iris")

dfs = DataFrameSummary(iris)
print(dfs.columns_types)
print(dfs.columns_stats)
print(dfs['species'])

numeric        4
categorical    1
Name: types, dtype: int64
             sepal_length sepal_width petal_length petal_width      species
counts                150         150          150         150          150
uniques                35          23           43          22            3
missing                 0           0            0           0            0
missing_perc           0%          0%           0%          0%           0%
types             numeric     numeric      numeric     numeric  categorical
top             versicolor: 50
counts                     150
uniques                      3
missing                      0
missing_perc                0%
types              categorical
Name: species, dtype: object

---
## 5.43 pandasql

In [21]:
from pandasql import sqldf, load_meat, load_births
pysqldf = lambda q: sqldf(q, globals())
meat = load_meat()
births = load_births()
pysqldf("SELECT * FROM meat LIMIT 10;").head()

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey
0,1944-01-01 00:00:00.000000,751.0,85.0,1280.0,89.0,None,None,None
1,1944-02-01 00:00:00.000000,713.0,77.0,1169.0,72.0,None,None,None
2,1944-03-01 00:00:00.000000,741.0,90.0,1128.0,75.0,None,None,None
3,1944-04-01 00:00:00.000000,650.0,89.0,978.0,66.0,None,None,None
4,1944-05-01 00:00:00.000000,681.0,106.0,1029.0,78.0,None,None,None

---
## 5.44 sqlalchemy

In [23]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session

In [26]:
connect_info = 'mysql+pymysql://deaon_test:dCtuYsB3@rm-bp166g207s3o1hxds7o.mysql.rds.aliyuncs.com:3306/deaon_weltmeister?charset=UTF8MB4'
engine = create_engine(connect_info,
                       max_overflow=0,  # 超过连接池大小外最多创建的连接
                       pool_size=5,  # 连接池大小
                       pool_timeout=30,  # 池中没有线程最多等待的时间，否则报错
                       pool_recycle=-1  # 多久之后对线程池中的线程进行一次连接的回收（重置）
                       )

SessionFactory = sessionmaker(bind=engine)
session = scoped_session(SessionFactory)
df = pd.read_sql('device', engine)
df

,pk_id,store_id,ulk_devices_id,video_sn,v_type,channel_no,d_name,defalut_stream,install_time,estatus,...,nvr_sn,nvr_channel_id,is_inner,is_visible,father_id,last_time,last_editor,create_time,creator,order_b
0,37963,46668,185080,Ub0000000181083542VQ,ipc单通道,1,机修工位2,700,2018-09-27 15:50:02,上线,...,Ub35T810F187000406cK,5.0,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2018-10-08 16:51:52,系统,NaN
1,37964,46668,185656,Ub0000000181084516VG,ipc单通道,1,认证工位-上,700,2018-09-27 15:49:40,上线,...,Ub35T810F187000406cK,6.0,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2018-10-08 16:51:52,系统,NaN
2,37965,46668,185975,Ub0000000181085188Kc,ipc单通道,1,机修工位1,700,2018-09-27 15:49:55,上线,...,Ub35T810F187000406cK,4.0,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2018-10-08 16:51:52,系统,NaN
3,37966,46668,209119,Ub0000000220600118UD,ipc单通道,1,客休区,700,2018-09-09 17:46:14,上线,...,Ub35T810F187000406cK,2.0,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2018-10-08 16:51:52,系统,NaN
4,37967,46668,209142,Ub0000000220600141EV,ipc单通道,1,认证工位-下,700,2018-09-27 15:49:27,上线,...,Ub35T810F187000406cK,11.0,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2018-10-08 16:51:52,系统,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,170657,87310,452121,Ub35T810F201000041XM,nvr多通道,7,机修工位2,700,2020-07-14 15:17:09,上线,...,None,NaN,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2020-07-14 15:30:00,系统,0.0
1395,170658,87310,452121,Ub35T810F201000041XM,nvr多通道,8,机修工位3,700,2020-07-14 15:17:17,上线,...,None,NaN,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2020-07-14 15:30:00,系统,0.0
1396,170659,87310,452121,Ub35T810F201000041XM,nvr多通道,9,工位车牌识别1,700,2020-07-14 15:27:54,上线,...,None,NaN,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2020-07-14 15:30:00,系统,0.0
1397,170660,87310,452121,Ub35T810F201000041XM,nvr多通道,10,机修工位1,700,2020-07-14 15:28:35,上线,...,None,NaN,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2020-07-14 15:30:00,系统,0.0
1398,170661,87310,452121,Ub35T810F201000041XM,nvr多通道,11,工位车牌识别2,700,2020-07-14 15:29:06,上线,...,None,NaN,真实设备,所有人可见,None,2020-07-22 17:29:27,系统,2020-07-14 15:30:00,系统,0.0

---
## 5.45 psycopg

In [28]:
import psycopg2
conn = psycopg2.connect(database="staging", user="dater", password="q1w2e3r4", host="127.0.0.1", port="5432")

In [30]:
sql_getall='select * from registration_all limit 100'
df=pd.read_sql(sql=sql_getall,con=conn)
df

,yearmonth,province,city,makeshort,stdmake,brand,modelcn,maketype1,maketype2,segment,...,fuel,body,owner,msrp,msrprange,tp,pl,aa,engine,sales
0,202005,山西,临汾市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,5.99,5 - 8万,58800,1.5T,Y,手动,10
1,202005,河南,省直辖县级行政区划_河南,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,5.99,5 - 8万,58800,1.5T,Y,手动,1
2,202005,江苏,无锡市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,5.99,5 - 8万,58800,1.5T,Y,手动,1
3,202005,内蒙古,赤峰市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,5.99,5 - 8万,58800,1.5T,Y,手动,1
4,202005,河南,南阳市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,5.99,5 - 8万,58800,1.5T,Y,手动,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,202005,广东,东莞市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,9.99,8 - 10万,81400,1.5T,Y,无级,3
96,202005,北京,北京市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,9.99,8 - 10万,81400,1.5T,Y,无级,2
97,202005,江西,宜春市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,9.99,8 - 10万,81400,1.5T,Y,无级,1
98,202005,山东,日照市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,9.99,8 - 10万,81400,1.5T,Y,无级,1
99,202005,内蒙古,包头市,北汽,北京汽车,北京汽车,绅宝智行,自主,自主,A-SUV,...,汽油,SUV,个人,9.99,8 - 10万,81400,1.5T,Y,无级,1

---
## 5.46 mysqlclient

In [31]:
import MySQLdb
conn= MySQLdb.connect(
        host='rm-bp166g207s3o1hxds7o.mysql.rds.aliyuncs.com',
        port = 3306,
        user='deaon_test',
        passwd='dCtuYsB3',
        db ='deaon_weltmeister',
        )

In [34]:
sql_getall='select * from device limit 100'
df=pd.read_sql(sql=sql_getall,con=conn)
df

,pk_id,store_id,ulk_devices_id,video_sn,v_type,channel_no,d_name,defalut_stream,install_time,estatus,...,nvr_sn,nvr_channel_id,is_inner,is_visible,father_id,last_time,last_editor,create_time,creator,order_b
0,37963,46668,185080,Ub0000000181083542VQ,ipc???,1,????2,700,2018-09-27 15:50:02,??,...,Ub35T810F187000406cK,5.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
1,37964,46668,185656,Ub0000000181084516VG,ipc???,1,????-?,700,2018-09-27 15:49:40,??,...,Ub35T810F187000406cK,6.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
2,37965,46668,185975,Ub0000000181085188Kc,ipc???,1,????1,700,2018-09-27 15:49:55,??,...,Ub35T810F187000406cK,4.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
3,37966,46668,209119,Ub0000000220600118UD,ipc???,1,???,700,2018-09-09 17:46:14,??,...,Ub35T810F187000406cK,2.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
4,37967,46668,209142,Ub0000000220600141EV,ipc???,1,????-?,700,2018-09-27 15:49:27,??,...,Ub35T810F187000406cK,11.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,38058,47574,208931,Ub0000000220538772dP,ipc???,1,????-?,700,2018-09-29 16:55:47,??,...,Ub35T810F187000211BJ,6.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
96,38059,47574,208936,Ub0000000220538788dH,ipc???,1,?????,700,2018-09-25 13:37:50,??,...,Ub35T810F187000211BJ,1.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
97,38060,47574,210891,Ub0000000C40436502ID,ipc???,1,???,700,2018-09-25 13:37:57,??,...,Ub35T810F187000211BJ,10.0,????,?????,None,2020-07-22 17:29:27,??,2018-10-08 16:51:52,??,None
98,38061,44423,129217,Ub0000000129149541GJ,ipc???,1,????-?,700,2018-09-29 16:59:35,??,...,Ub35T2UWF172000151eb,1.0,????,?????,None,2019-10-21 17:27:07,??,2018-10-08 16:51:52,??,None
99,38062,47130,216979,Ub35T2UW3188000556RX,nvr???,2,???,700,2018-09-30 15:45:15,??,...,None,NaN,????,?????,None,2018-12-17 17:30:05,??,2018-10-08 16:51:52,??,None

---
## 5.47 python-pptx

In [ ]:
from pptx import Presentation
from pptx.oxml.xmlchemy import OxmlElement
from pptx.util import Inches, Pt
from pptx.chart.data import CategoryChartData
from pptx.dml.color import ColorFormat, RGBColor

import pandas as pd
chinese_font_node = OxmlElement('a:ea')
chinese_font_node.set('typeface', '微软雅黑')


# 城市列表
YEAR = 2020
MONTH = 4
CITYLIST = ['上海', '北京','深圳']
INPUT_FILE = './data/202003.csv'
if MONTH>9:
    OUTPUT_FILE_PATH = './output/' + str(YEAR) + str(MONTH) + '/'
    YEARMONTH = str(YEAR) + str(MONTH)
else:
    OUTPUT_FILE_PATH = './output/' + str(YEAR) + '0' + str(MONTH) + '/'
    YEARMONTH = str(YEAR) + '0' +  str(MONTH)


MODE_FILE = './mode/singleCity.pptx'

In [ ]:
# 基本函数定义
def regDat():
    return(pd.read_csv(INPUT_FILE))

def read_mode():
    self = Presentation(MODE_FILE)
    return(self)

def write_output_file(self,city):
    prs.save(OUTPUT_FILE_PATH + city + '分析报告.pptx')
    

# 工具函数定义
def to_percent(x):
    return('{:.0f}%'.format(EV2CPercent[0]*100))

# 更新主函数
def page_1_update(self, city):
    prs.slides[0].shapes[0].text_frame.paragraphs[0].text = city
    # run 是需要设置字体的文本的那个节点
    prs.slides[0].shapes[0].text_frame.paragraphs[0].font.name = '微软雅黑'
    prs.slides[0].shapes[0].text_frame.paragraphs[0].font.size = Pt(54)
    prs.slides[0].shapes[0].text_frame.paragraphs[0].font.bold = True
    prs.slides[0].shapes[0].text_frame.paragraphs[0].font._element.append(chinese_font_node)
    return(self)

def page_2_update(self, city):
    # Page2
    # 结构：
    # 0文本 【更改】
    # 1标题
    # 2页码
    # 3横绿线
    # 4 2019竖虚线 【更改】
    # 5 2019 【更改】
    # 6 下表3 EV 2B 【更改】
    # 7 下表2 EV 2C【更改】
    # 8 legend 2c
    # 9 legend EV
    # 10 legend 2c 绿线
    # 11 legend 2c 黄线
    # 12 主数据表格【更改】
    # 13 2020竖虚线 【更改】
    # 14 2020 【更改】
    # 15 表格【更改】
    # 16 表格最后一列第一行2020
    # 17 下表1 EV当月【更改】
    # 18 下表2 EV 2C 标题
    # 19 下表3 EV 2B 标题
    # 20 下表1 EV车型当月排名 标题
    # 21 方框部分更新
    
    # 数据准备
    reg_dat = regDat()
    EVChina  = reg_dat[reg_dat['fuel']=='纯电动'].groupby('yearmonth')['sales'].sum().values
    tmpCity = reg_dat[reg_dat['city']==city]
    tmpCity = tmpCity[tmpCity['fuel']=='纯电动']
    EVAll  = tmpCity.groupby('yearmonth')['sales'].sum().values
    EVAll2C = tmpCity[tmpCity['owner']=='个人'].groupby('yearmonth')['sales'].sum().values
    EV2CPercent= EVAll2C/EVAll
    n = len(EVAll)
    # 0 文本修改
    self.slides[1].shapes[0].text_frame.paragraphs[0].text = str(MONTH) + '月' + city + 'EV市场销量占到全国' + \
    '4月北京EV市场销量占到全国近22%，随着今年指标的发放，当地销量会尽快得到释放'

    
    
    
    
    
    return(self)
    

def sigle_city_main(city):
    self = read_mode()
    self = page_1_update(self,city)
    self = page_2_update(self,city)
    write_output_file(self,city)

In [ ]:
reg_dat = regDat()
tmpCity = reg_dat[reg_dat['city']=='北京市']
EVAll  = tmpCity.groupby('yearmonth')['sales'].sum()


prs.slides[1].shapes[0].text_frame.paragraphs[0].text =  '4月北京EV市场销量占到全国近22%，随着今年指标的发放，当地销量会尽快得到释放'
prs.slides[1].shapes[0].text_frame.paragraphs[1].text =  '4月北京EV市场销量8,518辆，同比下降约38%，MODEL 3占绝对优势，市占率达到18%，特斯拉目前挤压一线城市需求'
prs.slides[1].shapes[13].begin_x = 0

In [ ]:
reg_dat = regDat()
EVChina  = reg_dat[reg_dat['fuel']=='纯电动'].groupby('yearmonth')['sales'].sum().values
tmpCity = reg_dat[reg_dat['city']==city]
tmpCity = tmpCity[tmpCity['fuel']=='纯电动']
EVAll  = tmpCity.groupby('yearmonth')['sales'].sum().values
EVAll2C = tmpCity[tmpCity['owner']=='个人'].groupby('yearmonth')['sales'].sum().values
EV2CPercent= EVAll2C/EVAll
n = len(EVAll)
print(EVAll)
print(n)

In [ ]:
reg_dat[reg_dat['city']=='北京市'].head(5)

In [ ]:
# Page2
# 结构：
# 0文本 【更改】
# 1标题
# 2页码
# 3横绿线
# 4 2019竖虚线 【更改】
# 5 2019 【更改】
# 6 下表3 EV 2B 【更改】
# 7 下表2 EV 2C【更改】
# 8 legend 2c
# 9 legend EV
# 10 legend 2c 绿线
# 11 legend 2c 黄线
# 12 主数据表格【更改】
# 13 2020竖虚线 【更改】
# 14 2020 【更改】
# 15 表格【更改】
# 16 表格最后一列第一行2020
# 17 下表1 EV当月【更改】
# 18 下表2 EV 2C 标题
# 19 下表3 EV 2B 标题
# 20 下表1 EV车型当月排名 标题
# 21 方框部分更新

prs = Presentation('./mode/singleCity.pptx')


##TODO2：cityname
prs.slides[1].shapes[0].text_frame.paragraphs[0].text =  '4月北京EV市场销量占到全国近22%，随着今年指标的发放，当地销量会尽快得到释放'
prs.slides[1].shapes[0].text_frame.paragraphs[1].text =  '4月北京EV市场销量8,518辆，同比下降约38%，MODEL 3占绝对优势，市占率达到18%，特斯拉目前挤压一线城市需求'
prs.slides[1].shapes[13].begin_x = 0



# 6/7修改
chart_data = CategoryChartData()
chart_data.categories = ['Model 3', '元EV', '宋Pro EV', 'Aion S', '秦 EV', 'iA5', '秦Pro EV', 'e2',]
chart_data.add_series('Series 1', (2000.0, 589.0, 585.0, 532.0, 457.0, 401.0, 400.0, 397.0),number_format='#,##0')
print(chart_data.number_format)

prs.slides[1].shapes[17].chart.replace_data(chart_data)

# 15修改表格数字
prs.slides[1].shapes[15].table.cell(0, 1).text = '12121'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.name = '微软雅黑'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.size = Pt(9)
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.color.rgb = RGBColor(255, 255, 255)
# 15修改表格颜色
prs.slides[1].shapes[15].table.cell(0, 1).fill.solid()
prs.slides[1].shapes[15].table.cell(0, 1).fill.fore_color.rgb = RGBColor(64, 64, 64)
# 背景颜色置空： background()[source]

height = prs.slides[1].shapes[21].height
width = prs.slides[1].shapes[21].width
top = prs.slides[1].shapes[21].top
left = prs.slides[1].shapes[21].left
prs.slides[1].shapes[21].height = height +360000
prs.slides[1].shapes[21].width = width
prs.slides[1].shapes[21].top = top -130000
prs.slides[1].shapes[21].left = left -180000




prs.save('new.pptx')

In [ ]:
# Page3
# 结构：
# 0 下表4 A+&B级SUV车型当月排名  【更改】
# 1下表3 A级SUV车型当月排名  【更改】
# 2  下表2 EV SUV To B当月排名 【更改】
# 3 下表1 EV SUV To C当月排名  【更改】
# 4 第一行评论  【更改】
# 5 标题
# 6 页码
# 7 横绿线
# 8 2019竖虚线 【更改】
# 9 2019  【更改】
# 10 2C
# 11 EV SUV
# 12 2C 图例虚线
# 13 EV SUV 图例虚线
# 14 线图 【更改】
# 15 2020 虚线 【更改】
# 16 2020 【更改】
# 17 表格【更改】
# 18 2020 黄
# 19 EV SUV To B当月排名
# 20 A级SUV车型当月排名
# 21 EV SUV To C当月排名
# 22 A+&B级SUV车型当月排名

prs = Presentation('./mode/singleCity.pptx')


##TODO2：cityname
prs.slides[1].shapes[0].text_frame.paragraphs[0].text =  '4月北京EV市场销量占到全国近22%，随着今年指标的发放，当地销量会尽快得到释放'
prs.slides[1].shapes[0].text_frame.paragraphs[1].text =  '4月北京EV市场销量8,518辆，同比下降约38%，MODEL 3占绝对优势，市占率达到18%，特斯拉目前挤压一线城市需求'
prs.slides[2].shapes[15].begin_x = 0



# 6/7修改
chart_data = CategoryChartData()
chart_data.categories = ['Model 3', '元EV', '宋Pro EV', 'Aion S', '秦 EV', 'iA5', '秦Pro EV', 'e2',]
chart_data.add_series('Series 1', (2000.0, 589.0, 585.0, 532.0, 457.0, 401.0, 400.0, 397.0),number_format='#,##0')
print(chart_data.number_format)

prs.slides[1].shapes[17].chart.replace_data(chart_data)

# 15修改表格数字
prs.slides[1].shapes[15].table.cell(0, 1).text = '12121'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.name = '微软雅黑'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.size = Pt(9)
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.color.rgb = RGBColor(255, 255, 255)
# 15修改表格颜色
prs.slides[1].shapes[15].table.cell(0, 1).fill.solid()
prs.slides[1].shapes[15].table.cell(0, 1).fill.fore_color.rgb = RGBColor(64, 64, 64)
# 背景颜色置空： background()[source]

height = prs.slides[1].shapes[21].height
width = prs.slides[1].shapes[21].width
top = prs.slides[1].shapes[21].top
left = prs.slides[1].shapes[21].left
prs.slides[1].shapes[21].height = height +360000
prs.slides[1].shapes[21].width = width
prs.slides[1].shapes[21].top = top -130000
prs.slides[1].shapes[21].left = left -180000




prs.save('new.pptx')

In [ ]:
# Page4
# 结构：
# 0 评论第一行
# 1 标题
# 2  页码
# 3 销售表现
# 4 下三表格
# 5 下三表格 第一个方框
# 6 下三表格 第二个方框
# 7 下三表格 第三个方框
# 8 上方表格
# 9 2019  【更改】
# 10 2C
# 11 EV SUV
# 12 2C 图例虚线
# 13 EV SUV 图例虚线
# 14 线图 【更改】
# 15 2020 虚线 【更改】
# 16 2020 【更改】
# 17 表格【更改】
# 18 2020 黄
# 19 EV SUV To B当月排名
# 20 A级SUV车型当月排名
# 21 EV SUV To C当月排名
# 22 A+&B级SUV车型当月排名

prs = Presentation('./mode/singleCity.pptx')


##TODO2：cityname
prs.slides[1].shapes[0].text_frame.paragraphs[0].text =  '4月北京EV市场销量占到全国近22%，随着今年指标的发放，当地销量会尽快得到释放'
prs.slides[1].shapes[0].text_frame.paragraphs[1].text =  '4月北京EV市场销量8,518辆，同比下降约38%，MODEL 3占绝对优势，市占率达到18%，特斯拉目前挤压一线城市需求'
prs.slides[3].shapes[7].height = 10000



# 6/7修改
chart_data = CategoryChartData()
chart_data.categories = ['Model 3', '元EV', '宋Pro EV', 'Aion S', '秦 EV', 'iA5', '秦Pro EV', 'e2',]
chart_data.add_series('Series 1', (2000.0, 589.0, 585.0, 532.0, 457.0, 401.0, 400.0, 397.0),number_format='#,##0')
print(chart_data.number_format)

prs.slides[1].shapes[17].chart.replace_data(chart_data)

# 15修改表格数字
prs.slides[3].shapes[8].table.cell(18, 1).text = '12121'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.name = '微软雅黑'
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.size = Pt(9)
prs.slides[1].shapes[15].table.cell(0, 1).text_frame.paragraphs[0].font.color.rgb = RGBColor(255, 255, 255)
# 15修改表格颜色
prs.slides[1].shapes[15].table.cell(0, 1).fill.solid()
prs.slides[1].shapes[15].table.cell(0, 1).fill.fore_color.rgb = RGBColor(64, 64, 64)
# 背景颜色置空： background()[source]

height = prs.slides[1].shapes[21].height
width = prs.slides[1].shapes[21].width
top = prs.slides[1].shapes[21].top
left = prs.slides[1].shapes[21].left
prs.slides[1].shapes[21].height = height +360000
prs.slides[1].shapes[21].width = width
prs.slides[1].shapes[21].top = top -130000
prs.slides[1].shapes[21].left = left -180000




prs.save('new.pptx')

---
## 5.48 xlrd/xlwt

In [ ]:
import xlrd
# 打开excel文件读取数据
data = xlrd.open_workbook("1.xlsx")

# 获取book中所有工作表的名称
print("获取book中所有工作表的名称:")
print(data.sheet_names())
# ['Sheet1']

# 根据工作表的名称获取工作表的内容
table = data.sheet_by_name('Sheet1')

# 根据工作表的索引获取工作表的内容
# table = data.sheet_by_name(0)

# 打印工作表的名称、行数和列数
print("打印工作表的名称、行数和列数:")
print(table.name, table.nrows, table.ncols)
# Sheet1 17 4

# 获取第4行的内容，以列表形式表示
row_4 = table.row_values(3)
print("获取第4行的内容，以列表形式表示:")
print(row_4)
# [5.0, 6.0, 7.0, 8.0]

# 获取第3列的内容，以列表形式表示
col_3 = table.col_values(2)
print("获取第3列的内容，以列表形式表示:")
print(col_3)
# [3.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, '', '']
# 注意输出结果中的空值！

# 获取工作表中单元格的3种方法
print("获取工作表中单元格的3种方法:")
print(table.cell(1, 0).value)
# 5.0
print(table.cell_value(1, 0))
# 5.0
print(table.row(1)[0].value)
# 5.0

# 获取单元格内容的数据类型
print("获取单元格内容的数据类型：")
print(type(table.cell_value(1, 2)))
# <class 'float'>

# 读取列表中第1列的数据,返回列表
cols = table.col(0)
# 遍历列表，打印结果
for col in cols:
    print(col.value)

---
## 5.49 xlwings

In [ ]:
import xlwings as xw
app=xw.App(visible=True,add_book=False)
app.display_alerts=False
app.screen_updating=False
# 文件位置：filepath，打开test文档，然后保存，关闭，结束程序
filepath=r'g:\Python Scripts\test.xlsx'
wb=app.books.open(filepath)
wb.save()
wb.close()
app.quit()

In [ ]:
sheet 常用的api
# 引用某指定sheet
sht=xw.books['工作簿名称'].sheets['sheet的名称']
# 激活sheet为活动工作表
sht.activate()
# 清除sheet的内容和格式
sht.clear()
# 清除sheet的内容
sht.contents()
# 获取sheet的名称
sht.name
# 删除sheet
sht.delete

---
## 5.50 Statsmodels

In [39]:
import statsmodels.api as sm

In [41]:
res = sm.stats.ttest_ind(iris[iris['species']=='setosa']['sepal_length'],
                      iris[iris['species']=='virginica']['sepal_length'],
                      alternative='two-sided',
                      usevar='pooled',
                      value=0)
print(res)

(-15.386195820079415, 6.892546060673762e-28, 98.0)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']